*.a
*.deps
*.la
*.lo
*.o
*.so
*.pc
*.jpg
*.swp
*~
*-client-protocol.h
*-protocol.c
*-server-protocol.h
.libs
aclocal.m4
autom4te.cache/
config.log
config.guess
config.h
config.h.in
config.sub
config.status
configure
config.mk
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
stamp-h1
wayland-scanner
